# Ignore .local folder in git repos to give a safe space to store local files that should not be committed
.local/

# Ingore environment files
*.env
*.envrc

#ignore thumbnails created by windows
Thumbs.db
desktop.ini

#ignore files created by mac
.DS_Store
