# Ignore .local folder in git repos to give a safe space to store local files that should not be committed
.local/

# Ingore environment files
*.env
*.envrc

# Ignore nektos/act files
*.secrets
*.vars
*.inputs

# Ignore thumbnails created by windows
Thumbs.db
desktop.ini

# Ignore files created by mac
.DS_Store
